.about {

    &__wrapper {
        display: grid;
        grid-template:minmax(245px, auto) minmax(255px, auto) / 400px 570px;
        gap: 40px 70px;
    }

    &__photo {
        grid-row: 1 / 3;

        img {
            width: 100%;
            height: 100%;
        }
    }
    
    &__info {
        padding-top: 6px;
    }

    &__text {
        margin-top: 20px;
        @include text;
    }

    &__cards {
        display: grid;
        grid: repeat(2, minmax(116px, auto)) / repeat(2, 260px);
        grid-auto-rows: minmax(116px, auto);
        gap: 20px 50px;
    }

    &__card {
        display: flex;

        &-icon {
            position: relative;
            margin-right: 20px;
            @include before_circle;

            &:before {
                top: 0;
            }
            
            img {
                margin-top: 16px;
                margin-left: 16px;
            }
        }

        &-text {
            margin-top: 6px;
            @include text_fz12;
        }
    }

}