.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;

    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }

    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }

    &_fz48 {
        font-size: 48px;
    }

    &_grey {
        color: rgb(117, 117, 117);
    }

    &_withCircle {
        position: relative;
        z-index: 1;
        padding-left: 10px;
        @include before_circle;
    }

    &__divider {
        width: 60px;
        border: 2px solid $main-color;
    }
}
