.title {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
    position: relative;
    z-index: 1;

    &_fz14 {
        font-size: 14px;
        line-height: 21px;
    }

    &_fz16 {
        font-size: 16px;
        line-height: 24px;
    }

    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }

    &_fz48 {
        font-size: 48px;
    }

    &_grey {
        color: rgb(117, 117, 117);
    }

    &_bold {
        font-weight: bold;
    }

    &_withLeftCircle {
        padding-left: 10px;
        position: relative;
        @include before_circle;
    }

    &_withCenterCircle {
        @include before_circle;

        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__divider {
        margin: 0 auto;
        margin-top: 20px;
        width: 60px;
        border: 2px solid $main-color;

        &_left {
            margin: 0;
        }
    }
}
